<footer class="page-footer font-small mdb-color lighten-3 pt-4 text-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <div class="container c-name text-center text-warning my-2">
          <a href=" {% url 'home' %} " style="text-decoration:none;"> <span class="text-danger">Wee</span><span class="text-warning">Craze</span> </a>
        </div>
        <p class="my-2 pt-3 lead">Plan Your Holidays With Us.</p>
        <p class="text-justify lead">Our clients enjoyment are our responsibility, we love to see our clients happy.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1 links">

        <!-- Links -->
        <h5 class="text-uppercase mb-4 text-warning">Links</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="{% url 'about' %}">About</a>
            </p>
          </li>
          <li>
            <p>
              <a href="{% url 'contact' %}">Contact</a>
            </p>
          </li>
          <li>
            <p>
              <a href="{% url 'register' %}">Register</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Reviews</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1 address">

        <!-- Contact details -->
        <h5 class="text-uppercase mb-4 text-warning">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i> Neredmet, Hyderabad</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope mr-3"></i> deepak0511@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> +91 7050305035</p>
          </li>
          <li>
            <p>
              <i class="fa fa-print mr-3"></i> +91 8409131019</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4 social-icons">

        <!-- Social buttons -->
        <h5 class="text-uppercase mb-4 text-warning">Follow Me On</h5>

        <!-- Facebook -->
        <div class="facebook mb-1 text-light">
          <a href="https://www.facebook.com/Deepakbarnwal0511/"> <i class="fa fa-facebook"></i> Facebook </a>
        </div>
        <!-- instagram -->
        <div class="instagram mb-1 text-light">
          <a href="https://www.instagram.com/barn_deep23/"> <i class="fa fa-instagram"></i> Instagram </a>
        </div>
        <!-- Facebook -->
        <div class="linkedin mb-1 text-light">
          <a href="https://www.linkedin.com/in/deepak-barnwal-1136831b3/"> <i class="fa fa-linkedin"></i> linkedin </a>
        </div>
        <!-- github -->
        <div class="github mb-1 text-light">
          <a href="https://github.com/CodeDeemons/"> <i class="fa fa-github"></i> Github</a>
        </div>
        <!-- twitter -->
        <div class="twitter mb-1 text-light">
          <a href="https://twitter.com/DeepakB95338437/"> <i class="fa fa-twitter"></i> Twitter </a>
        </div>
       

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
        <p class="text-light">Copyright © 2021 <span class="kaushan"> Code Demons </span> <span class="text-danger"> &nbsp; Designer | Developer </span> <p>
</footer>